@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
}

.icon-text {
  color: #fff;
  text-align: left;
}

a {
  color: #fff;
}

.border {
  border-bottom: solid rgba(255, 255, 255, 1);
}

section {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

.btn {
  border-color: rgba(255, 255, 255, 1);
  background-color: transparent;
}

.btn:hover {
  background-color: #fff;
  color: #ff9500;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {

  .border {
    border-bottom: none;
    border-right: 3px solid rgba(255, 255, 255, .5);
  }
}
